.inner {
  width: 1250px;
  overflow: hidden;
  margin: 0 auto;
}
#content {
  position: relative;
  display: flex;
  width: 1250px;
}
#content::before {
  content: "";
  background-image: url(../images/세종소개img/company_01_01.jpg);
  background-repeat: no-repeat;
  /* position: absolute; */
  flex: 0 0 300px;
  height: auto;
  background-size: cover;
}
.main-con ul {
  padding-top: 50px;
  padding-left: 50px;
}
.main-con ul li {
  margin-bottom: 80px;
}
.main-con ul li strong {
  font-weight: 800;
  font-size: 20px;
}

.main-con ul li p {
  font-weight: 500;
  font-size: 16px;
  margin-top: 15px;
}
/* 메인 콘텐츠 */
.download {
  background: #f2ebdc;
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  padding: 30px 20px;
}
.download h4 {
  margin-left: 20px;
  font-weight: 600;
  font-size: 18px;
  margin-top: 5px;
}
.download .btn-area {
  cursor: pointer;
}
.download .btn-area a {
}
.download .btn-area a button {
  margin-left: 10px;
  padding: 8px 25px;
  height: auto;
  background-color: #88304e;
  color: aliceblue;
  border: none;
  font-size: 16px;
  justify-content: center;
  align-items: center;
}
.download .btn-area i {
  margin-left: 5px;
  font-size: 20px;
  justify-content: center;
  align-items: center;
}
/* download */
.subcon {
  padding: 50px;
  justify-items: center;
  line-height: 200%;
}
.subcon p {
  font-size: 22px;
  color: #88304e;
}
.subcon p span {
  font-weight: 700;
  font-size: 24px;
  color: black;
}
/* subcon */
.con table tr {
  padding: 8px;
}
.con table th {
  font-size: 18px;
  font-weight: 700;
  text-align: left;
}

.con table td {
  font-weight: 400;
  padding-left: 50px;
}
.con h5 {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 30px;
}
.con1,
.con2,
.con3,
.con4,
.con5 {
  margin-bottom: 100px;
  min-height: 550px;
}

.con1::before {
  content: "";
  display: block;
  background-image: url(/images/세종소개img/company_02_06.jpg);
  background-repeat: no-repeat;
  background-size: 100% auto;
  width: 1250px;
  height: 550px;
  background-position: 0 0;
  z-index: 0;
  width: 1250px;
}
.con2 {
  position: relative;
}
.con2 img {
  width: 1250px;
  overflow: hidden;
  z-index: -1;
}
.con2 .t {
  background: #fff;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 0;
  padding: 50px;
}
.con3 {
  position: relative;
  width: 800px;
  padding: 50px;
  z-index: 0;
}
.con3::after {
  content: "";
  position: absolute;
  top: 20px;
  right: 0;
  width: 100%;
  background: #f2ebdc;
  height: 200px;
  padding: 50px;
  z-index: -1;
}

.con3::before {
  content: "";
  position: absolute;
  top: -100px;
  right: -350px;
  height: 550px;
  background-size: cover;
  background-image: url(/images/세종소개img/company_02_02.jpg);
  background-repeat: no-repeat;
  width: 400px;
  z-index: -2;
}
.con4 {
  position: relative;
  height: 500px;
}
.con4 h5 {
  width: 800px;
  position: absolute;
  top: 280px;
  right: 20px;
}
.con4 table {
  width: 800px;
  top: 340px;
  right: 20px;
  position: absolute;
  padding: 50px;
  z-index: 0;
}
.con4::before {
  content: "";
  position: absolute;
  background-image: url(../images/세종소개img/company_02_03.jpg);
  background-repeat: no-repeat;
  width: 1250px;
  height: 400px;
  background-position: 0 0;
  background-size: cover;
  z-index: -2;
}
.con4::after {
  content: "";
  position: absolute;
  bottom: 0px;
  right: 0;
  width: 800px;
  background: #fff;
  height: 200px;
  padding: 50px;
  z-index: -1;
}
.con5 {
  position: relative;
}
.con5 h5 {
  position: relative;
  width: 800px;
  top: 380px;
  left: 50px;
}
.con5 table {
  position: relative;
  width: 800px;
  top: 400px;
  left: 50px;
}
.con5::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url(../images/세종소개img/company_02_04.jpg),
    url(/images/세종소개img/company_02_05.jpg);

  background-position: 0 0, 34rem 7rem;
  background-repeat: no-repeat, no-repeat;
  background-size: auto 370px, auto 300px;
  z-index: -2;
  display: block;
}
