#wrap {
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
  position: relative;
}
#header,
main,
footer {
  width: 100%;
}

.inner {
  width: 1250px;
  margin: auto;
}

h2 {
  font-size: 1.75rem;
  line-height: 2.25rem;
  font-weight: 500;
  margin-top: 100px;
}

.local-panel {
  position: absolute;
  right: 0;
  bottom: 0;
}
.local-panel:after {
  content: "";
  display: block;
  width: 4rem;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: #ffffff;
}
.scroll-top {
  display: block;
  position: relative;
  z-index: 3;
  bottom: 11px;
  right: 20px;
  padding: 0.25rem;
  width: 2.5rem;
  height: 2.5rem;
  line-height: 2.5rem;
  font-size: 0.75rem;
  color: #ffff;
  text-align: center;
  background-color: #555250;
}
.scroll-top svg {
  vertical-align: top;
  width: 100%;
  height: 100%;
  color: #fff;
}

.control {
  position: fixed;
  z-index: 2;
  top: 20.5rem;
  right: 1.75rem;
}
.control .current {
  height: 1rem;
  transition: height 0.3s linear;
  background-color: transparent;
}
.control a {
  display: block;
  overflow: hidden;
  width: 0.5rem;
  height: 0.5rem;
  color: transparent;
  font-size: 1px;
  text-decoration: none;
  box-sizing: border-box;
  background-color: #2d231e;
  border: 0.0625rem solid #2d231e;
  border-radius: 0.5rem;
  box-sizing: border-box;
  transition: height 0.3s linear;
  margin-bottom: 10px;
}

.bg {
  width: 100%;
  margin: 0 auto;
}
.bg img {
  width: 100%;
  height: 300px;
}

#footer {
  background: #555250;
}

#footer .inner::after {
  content: "";
  width: 100%;
  border: 1px solid #6a6664;
  position: absolute;
  top: 60px;
}
#footer .inner {
  width: 1250px;
  margin: 0 auto;
  position: relative;
}
#footer .inner ul {
  display: flex;
  padding: 15px;
}
#footer .inner ul li {
  display: flex;
  margin-left: 20px;
  color: #fff;
}

#footer .inner ul li a,
h3 {
  color: #fff;
}
.footer_top {
  display: flex;
  justify-content: space-between;
}
.footer_top ul:nth-child(2) {
  position: relative;
}
.footer_top ul:nth-child(2)::after {
  position: absolute;
  content: "";
  border: 1px solid #6a6664;
  left: 0;
  height: 30px;
}
.footer_top::after {
}
.footer_b p {
  color: #fff;
  margin-left: 20px;
  padding: 15px;
}
.sns-channels {
  position: absolute;
  top: 80px;
  right: 0;
}
.sns-channels ul {
  padding: 0;
}
.sns-channels li {
  display: flex;
  margin-left: 0;
  margin-right: 10px;
  align-items: center;
  height: 50px;
}
.sns-channels ul a {
  display: flex;
  align-items: center;
}
.sns-channels i {
  color: #fff;
  border: 1px solid #fff;
  padding: 8px;
  border-radius: 50%;
}
